{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ album.title }} - 翻相册{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<link href="{{ url_for('static', filename='css/lightbox.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}

<ol class="breadcrumb">
    <li><a href="{{ url_for('.index') }}">首页</a></li>
    <li class="active">《{{ album.title }}》</li>
    <li class="pull-right"><a href="{{ url_for('.albums') }}">返回</a></li>
</ol>

<div class="page-header">
    <h3>{{ album.title }}</h3>
    <p>{{ album.about }}</p>
    <p>{{ album.photos.count() }}张图片 创建于{{ moment(album.timestamp).format('L') }}
        <span class="pull-right">  &nbsp;
            {% if current_user.can(Permission.ADMIN) %}
            <a class="btn" href="{{ url_for('.add_photo', id=album.id) }}" title="添加照片">
                <i class="glyphicon glyphicon-plus"></i>
            </a>
        {% endif %}
        </span>
    </p>
</div>
<div>
    <h3>
        {% if no_pic == True %}
        这个相册还没有照片，点击右侧按钮上传图片。
        <br><br><br>
        {% endif %}
    </h3>
</div>
<div class="grid row">
    {% for photo in photos %}
    <div class="image grid-item">
        {% if loop.index != 1 %}
        <a class="hide-photo" id="firstSlide" href="{{ photo.url_s }} " data-lightbox="slide"
           title="<br><a href={{ url_for('.index') }}>转到图片页面</a>"></a>
        {% endif %}
        <a class="thumbnail" href="{{ url_for('.photo', id=photo.id) }}" title="">
            <img class="img-responsive" src="{{ photo.url_t }}">
        </a>
    </div>
    {% endfor %}
</div>
<p>
    {% if current_user.can(Permission.ADMIN)%}
    <!-- Button trigger modal -->
    <span class="pull-right"><button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                     data-target="#myModal">
                      删除相册
                    </button></span>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                确定要删除这个相册？
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <a href="#">
                    <button type="button" class="btn btn-danger">确认</button>
                </a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}
<div class="text-center">
    {{ macros.pagination_widget(pagination, '.album', id=album.id) }}
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/lightbox.js') }}"></script>
<script src="{{ url_for('static', filename='js/isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.js') }}"></script>

<script>
$('.grid').imagesLoaded( function(){
    $('.grid').isotope({
      itemSelector : '.grid-item',
    });
  });
$(".row-btn").click(function(event) {
   $('.grid').isotope({ layoutMode: 'fitRows' });
});
$(".mas-btn").click(function(event) {
   $('.grid').isotope({ layoutMode: 'masonry' });
});


</script>

<script>
    var $= jQuery.noConflict();
    lightbox.option({
      'resizeDuration': 300,
      'wrapAround': true,
      'maxWidth': 1000,
      'disableScrolling': true,
    })


</script>

<script>
    $(".fav-btn").click(function(event) {
      $(event.target).toggleClass("fav-cancel");
    });

    $(".").click(function(event) {
      $(event.target).toggleClass("fav-cancel");
    });


</script>

{% endblock %}